

<!DOCTYPE html>
<html>
<head>
<title>About</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
<h1>About</h1>
<p>This website was created by two architecture students who are passionate about helping others learn about the field. We believe that everyone has the potential to be an architect, and we want to provide the resources necessary to make that happen.</p>
<p>We offer a variety of resources on this website, including:</p>
<ul>
<li>Articles about architecture</li>
<li>A list of tutors who can help you with your studies</li>
<li>A scheduling tool to help you book lessons with tutors</li>
</ul>
<p>We hope that you find this website helpful. If you have any questions, please don't hesitate to contact us.</p>
</body>
</html>


