

<!DOCTYPE html>
<html>
<head>
<title>About</title>
</head>
<body>
<h1>About</h1>
<p>This website is designed to help users learn about architecture, find tutors, and schedule lessons.</p>
<p>We believe that everyone has the potential to learn about architecture, and we are committed to providing the resources necessary to make that happen.</p>
<p>Our tutors are experienced professionals who are passionate about architecture and teaching.</p>
<p>We offer a variety of lessons that are tailored to meet the needs of our students.</p>
<p>We are confident that you will find our website to be a valuable resource for learning about architecture.</p>
<a href="/">Home</a>
</body>
</html>


